
{{#if message}}
  <div class="shadow-lg p-3 mb-5 rounded bg-danger text-white">{{message}}</div>
{{/if}}


{{#if success}}
  <div class="shadow-lg p-3 mb-5 rounded bg-success text-white">{{success}}</div>
{{/if}}
