<form
  class="row g-3"
  action="/links/addPaciente"
  method="POST"
  style="margin-top: 2.5%;"
  style="margin-bottom: 3%;"
>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingUNO">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseUNO"
          aria-expanded="false"
          aria-controls="flush-collapseUNO"
        >
          Datos del Paciente
        </button>
      </h2>
      <div
        id="flush-collapseUNO"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingUNO"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">

          <!-- _____________________________Datos del paciente__________________________________ -->

          <div class="row">

            <div class="col-md-6">
              <label class="form-label">Rut</label>
              <input
                type="text"
                class="form-control"
                id="rut"
                name="rut"
                required
                placeholder="18.333.444-2"
              />

            </div>
            
            <div class="col-md-6">
              <label class="form-label">Apellido y Nombre</label>
              <input
                type="text"
                class="form-control"
                name="nombre"
                required
                placeholder="Scarlazzetta Daniel"
              />

            </div>
            <div class="col-md-6">
              <label class="form-label">Fecha Nacimiento</label>
              <input
                type="date"
                class="form-control"
                id="fecha_nacimiento"
                name="fecha_nacimiento"
              />
            </div>
            
            
            <div class="col-md-6">
              <label class="form-label">Edad</label>
              <h1
                type="text"
                class="form-control"
                id="edad_"
                name="edad"
                >30
                </h1>
            </div>
            <div class="col-md-6">
              <label class="form-label">Sexo</label>
              <select id="sexo" name="sexo" class="form-select">
                <option selected>Elija una opción</option>
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label">Números de Teléfono</label>
              <input
                type="text"
                class="form-control"
                name="telefono"
                placeholder="+56942896003 - +56942896030"
              />
            </div>

            <div class="col-md-6">
              <label
                for="inputCentromedico"
                class="form-label"
              >¿Paciente Postrado?
              </label>
              <select name="paciente_postrado" class="form-select">
                <option selected >Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">¿Pueblos
                Indigenas?</label>
              <select
                name="participa_pueblos_originarios"
                class="form-select"
              >
                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label
                class="form-label"
              >Inmigrante?</label>
              <select name="poblacion_inmigrante" class="form-select">
                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Número de carpeta
                familiar</label>
              <input
                type="text"
                class="form-control"
                name="plan_familiar"
                placeholder="1182"
              />
            </div>
            
            
            <div class="col-md-6">
              <label class="form-label">Presión S</label>
              <input
                type="text"
                class="form-control"
                name="presion_s"
                placeholder="180"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label">Presión D</label>
              <input
                type="text"
                class="form-control"
                name="presion_d"
                placeholder="160"
              />
            </div>
            <div class="col-md-6">
              <label for="inputApellidos" class="form-label">Fecha De toma de
                Presión</label>
              <input
                type="date"
                class="form-control"
                name="fecha_PA"
              />
            </div>
            <div class="col-md-6">
              <label
                class="form-label"
              >Adulto Mayor solo con/sin redes de apoyo</label>
              <select name="AM_SOLO_C_R" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Sin apoyo">AM SOLO S/R</option>
                <option value="Con apoyo">AM SOLO C/R</option>

              </select>
            </div>

          </div>
          <!-- ____________________________fin datos del paciente_____________________________ -->

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingDOS">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseDOS"
          aria-expanded="false"
          aria-controls="flush-collapseDOS"
        >
          IMC
        </button>
      </h2>
      <div
        id="flush-collapseDOS"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingDOS"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">

          <!-- ______________________________IMC_____________________________ -->
            
          <div class="row">
            <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="2"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >
            <div class="col-md-6">
              <label for="inputApellidos" class="form-label">Peso</label>
              <input
                type="text"
                class="form-control"
                id="peso"
                name="peso"
                placeholder="70"
              />
            </div>
            <div class="col-md-6">
              <label for="inputApellidos" class="form-label">Talla</label>
              <input
                type="text"
                class="form-control"
                id="talla"
                name="talla"
                placeholder="1,50"
              />
            </div>
            <div class="col-md-6">
              <label for="inputApellidos" class="form-label">IMC</label>
              <h1
                type="text"
                class="form-control"
                id="imc"
                name="imc"
               >25,5
              </h1>
                 
            </div>

            <div class="col-md-6">
              <label for="inputApellidos" class="form-label">Estado Nutricional</label>
              <h1
                type="text"
                class="form-control"
                id="estado_nutricional"
                name="estado_nutricional"
               >Delgadez/ Normal/ Sobrepeso
              </h1>
                 
            </div>

          </div>
          

          
          <!-- ____________________________fin IMC_____________________________ -->

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTRES">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTRES"
          aria-expanded="false"
          aria-controls="flush-collapseTRES"
        >
          Factores de riesgo
        </button>
      </h2>
      <div
        id="flush-collapseTRES"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTRES"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">

          <!-- ______________________________fin________________________-->
          <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="3"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >

          <div class="row">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="TAB"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  TAB
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="OBES"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  OBES
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="SEDENT"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  SEDENT
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="Antec_IAM"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Antec IAM
                </label>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="antec_enf_CV"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Antec enf CV
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="tto_con_aspirina"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  TTo con Aspirina
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="tto_con_estatina"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  TTo con Estatina
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="TACO"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  TACO
                </label>
              </div>
            </div>

          </div>
          <!-- ______________________________fin________________________-->
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingCUATRO">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseCUATRO"
          aria-expanded="false"
          aria-controls="flush-collapseCUATRO"
        >
          Rescate de Paciente
        </button>
      </h2>
      <div
        id="flush-collapseCUATRO"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingCUATRO"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">

          <!-- ______________________________fin________________________-->

          <div class="row">
            <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="4"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >

            <div class="col-md-6">
              <label for="datetime-local" class="form-label">Fecha y hora de
                rescate</label>
              <input
                type="datetime-local"
                name="fecha_rescate"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">Rescate Telefónico Efectivo</label>
              <select name="rescate_telefonico_efectivo" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>

            </div>
            <div class="col-md-6">
              <label class="form-label">Rescate Domiciliario Efectivo</label>
              <select name="rescate_domiciliario_efectivo" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>

            </div>


          </div>

          <!-- ______________________________fin________________________-->

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingCINCO">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseCINCO"
          aria-expanded="false"
          aria-controls="flush-collapseCINCO"
        >
          Atención realizada por Médico, Enfermera, Nutricionista
        </button>
      </h2>
      <div
        id="flush-collapseCINCO"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingCINCO"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="5"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >

          <!---->
          <div class="row">

            <div class="col-md-6">
              <label class="form-label">Fecha de control</label>
              <input
                type="datetime-local"
                name="ultimo_control"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label">EST</label>
              <input
                type="text"
                class="form-control"
                id="est"
                name="est"
                placeholder="1"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label">Último Control Pres/tel</label>
              <select name="ultimo_control_presenc_tel" class="form-select">

                <option selected>Elija una opcion</option>
                <option value="Presencial">Presencial</option>
                <option value="Telefonico">Telefonico</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label">Próximo Control</label>
              <input
                type="date"
                name="proximo_control"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label">Proximo
                profesional a cargo</label>
              <select name="proximo_profesional" class="form-select">

                <option selected>Elija una opcion</option>
                <option value="Médico">Médico</option>
                <option value="Enfermera">Enfermera</option>
                <option value="Nutricionista">Nutricionista</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Último control a distancia</label>
              <input
                type="date"
                name="ultimo_control_a_distancia"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">Control a Distancia Efectivo</label>
              <select name="control_a_distancia_efectivo" class="form-select">

                <option selected>Elija una opcion</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label">Profecional
                Atencion a Distancia</label>
              <select
                name="profesional_que_realizo_aten_dist"
                class="form-select"
              >

                <option selected>Elija una opcion</option>
                <option value="Médico">Médico</option>
                <option value="Enfermera">Enfermera</option>
                <option value="Nutricionista">Nutricionista</option>
              </select>
            </div>
            
          </div>
          <!---->
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSEIS">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSEIS"
          aria-expanded="false"
          aria-controls="flush-collapseSEIS"
        >
          Atención Químicos Farmacéuticos
        </button>
      </h2>
      <div
        id="flush-collapseSEIS"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingSEIS"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <!--______________________________________________________-->
          <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="6"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >
          <div class="row">

            <div class="col-md-12">
              <label for="inputProfesionlACargo" class="form-label">Derivado a
                Químico Farmacéutico</label>
              <select name="derivado_a_QF" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Derivado con exito</option>
                <option value="No">Sin derivar</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="date" class="form-label">Químico Farmacéutico
                Presencial</label>
              <input
                type="date"
                name="q_farmac_presencial"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <labelclass="form-label">Fecha de
                atención a distancia</label>
              <input
                type="date"
                name="fecha_atencion_a_distancia"
                class="form-control"
              />
            </div>

              <div class="col-md-6">
              <label class="form-label">Atención a Distancia</label>
              <select name="atencion_a_distancia" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label">Próximo Control Químico Farmacéutico</label>
              <input
                type="date"
                name="Proximo_control_Q_farmaceutico"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label">Fecha Citación</label>
              <input
                type="date"
                name="fecha_citacion"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">Via Citación</label>
              <select name="via_citacion" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Some">Some</option>
                <option value="Telefónico">Telefónico </option>
                <option value="No Contactado">No contactado</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label">Confirmación
                de Cita</label>
              <select name="confirmacion_de_cita" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Confirmado">Confirmado</option>
                <option value="No Confirmado">No confirma</option>
              </select>
            </div>
            <div class="col-md-6">
              <label
                for="inputProfesionlACargo"
                class="form-label"
              >Asistió</label>
              <select name="inasistencia" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>

          </div>
          <!--______________________________________________________-->

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSIETE">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSIETE"
          aria-expanded="false"
          aria-controls="flush-collapseSIETE"
        >
          Existencia de Paciente (Patología)
        </button>
      </h2>
      <div
        id="flush-collapseSIETE"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingSIETE"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">

          <!--________________________________________________________-->
          <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="7"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >
          <div class="row">

            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="hta"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  NTA hipertensión arterial
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="DM"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  DM
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="DLP"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  DLP
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="HipoT"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  HipoT
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="Park"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Park
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="Epil"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Epil
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="Glauc"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Glauc
                </label>
              </div>
              

            </div>

            <div class="col-md-6">

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="GAA"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  GAA
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="INT_GLUC"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  INT. GLUC
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="INS_RESIST"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  INS RESIST.
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="Alzh"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Alzh
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Si"
                  name="Otras_patologias"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Otras Patologías
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <label
                for="inputProfesionlACargo"
                class="form-label"
              >Artrosis</label>
              <select name="Artrosis" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Cadera">Cadera</option>
                <option value="Rodilla">Rodilla</option>
                <option value="Ambas">Ambas</option>
                <option value="Ninguna">Ninguna</option>

              </select>
            </div>
            
          </div>
          <!--________________________________________________________-->
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOCHO">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOCHO"
          aria-expanded="false"
          aria-controls="flush-collapseOCHO"
        >
          Diabetes
        </button>
      </h2>
      <div
        id="flush-collapseOCHO"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOCHO"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">

          <!--_______-->
          <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="8"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >

          <div class="row">

            <div class="col-md-6">
              <label class="form-label">Fecha de Hb</label>
              <input
                type="date"
                name="Hb"
                class="form-control"
              />
            </div>
            
            <div class="col-md-6">
              <label class="form-label">Valor H. Glicos</label>
              <input
                class="form-control"
                name="valor_H_Glicos"
                placeholder="130"
              />
            </div>
          </div>

          <!--______-->

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingNUEVE">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseNUEVE"
          aria-expanded="false"
          aria-controls="flush-collapseNUEVE"
        >
          Colesterol
        </button>
      </h2>
      <div
        id="flush-collapseNUEVE"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingNUEVE"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="9"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >
          <!--_____________________-->
          <div class="row">

            <div class="col-md-6">
              <label for="datetime-local" class="form-label">Fecha de la
                Toma de Control</label>
              <input
                type="date"
                name="fecha"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">Total</label>
              <input
                class="form-control"
                name="total"
                placeholder="150"
              />
            </div>

            <div class="col-md-6">
              <label  class="form-label">L.D.L</label>
              <input  class="form-control" name="LDL" />
            </div>
            
          </div>
          <!--_____________________-->
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingDIEZ">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseDIEZ"
          aria-expanded="false"
          aria-controls="flush-collapseDIEZ"
        >
          Fondo de Ojo
        </button>
      </h2>
      <div
        id="flush-collapseDIEZ"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingDIEZ"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <!--_____________-->
          <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="10"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >
          <div class="row">

            <div class="col-md-6">
              <label for="date" class="form-label">Control de fondo de ojo</label>
              <input
                type="date"
                name="fecha_fondo_ojo"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Resultado</label>
              <select name="resultado" class="form-select">

                <option selected>Elija una opción</option>
                <option value="S/RD">S/RD</option>
                <option value="C/RD">C/RD</option>
              </select>
            </div>

            <div class="col-md-6">
              <label for="date" class="form-label">Próximo control de Fondo de
                ojo</label>
              <input
                type="date"
                name="proximo_fondo_de_ojo"
                class="form-control"
              />
            </div>

          </div>
          <!--_____________-->
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingONCE">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseONCE"
          aria-expanded="false"
          aria-controls="flush-collapseONCE"
        >
          Pie Diabetico
        </button>
      </h2>
      <div
        id="flush-collapseONCE"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingONCE"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <!--________________________________________-->
          <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="11"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >
          <div class="row">

            <div class="col-md-6">
              <label for="date" class="form-label">Control Pie Diabetico</label>
              <input
                type="date"
                name="fecha_pie_diabetico"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label  class="form-label">Riesgo</label>
              <select name="riesgo_pie_diabetico" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Bajo">Bajo</option>
                <option value="Moderado">Moderado</option>
                <option value="Alto">Alto</option>
                <option value="Máximo">Máximo</option>
              </select>
            </div>
            <div class="col-md-6">
              <label  class="form-label">Curacion</label>
              <select name="curacion_pie_diabetico" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Conv">Conv</option>
                <option value="Av">Av</option>
              </select>
            </div>
            <div class="col-md-6">
              <label  class="form-label">Fecha inicio de curacion</label>
              <input
                type="date"
                name="fecha_inicio_curacion"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label  class="form-label">Fecha Termino de curacion</label>
              <input
                type="date"
                name="fecha_termino_curacion"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">Cuenta Con Amputación</label>
              <select name="amput" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">En caso de tener
                algún tipo de amputación</label>
              <select name="tipo_amputacion" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Ninguna">Ninguna</option>
                <option value="Transmetatarsiana">Transmetatarsiana</option>
                <option value="Infrarotuliana">Infrarotuliana</option>
                <option value="Suprarotuliana">Suprarotuliana</option>
                <option value="Otra">Otra</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label">Fecha Amputación</label>
              <input type="date" name="fecha_amutacion" class="form-control" />
            </div>

          </div>
          <!---_______________________________________-->
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingDOCE">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseDOCE"
          aria-expanded="false"
          aria-controls="flush-collapseDOCE"
        >
          Podologo
        </button>
      </h2>
      <div
        id="flush-collapseDOCE"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingDOCE"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <!--____________________________-->
          <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="12"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >

          <div class="row">

            <div class="col-md-6">
              <label  class="form-label">Control Podologo</label>
              <select name="control_podologo" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label">Fecha Podologo</label>
              <input type="date" name="fecha_podologo" class="form-control" />
            </div>
            <div class="col-md-6">
              <label class="form-label">Fecha Atención Telefónica
                Podologo</label>
              <input
                type="date"
                name="fecha_atencion_telefonica_podologo"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label  class="form-label">Atención Telefónica Efectiva</label>
              <select name="atencion_telefonica_efectiva" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Próximo Control de Podologo</label>
              <input
                type="date"
                name="proximo_control_podogolo"
                class="form-control"
              />
            </div>

          </div>
          <!--____________________________-->
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingAAA">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseAAA"
          aria-expanded="false"
          aria-controls="flush-collapseAAA"
        >
          P5
        </button>
      </h2>
      <div
        id="flush-collapseAAA"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingAAA"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="13"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >
          <div class="row">
          <!---____________________________________________-->
          <div class="col-md-6">
              <label for="inputRescate" class="form-label">Prog MAS P5</label>
              <select name="prog_mas" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>

             <div class="col-md-6">
              <label class="form-label">Fecha P5</label>
              <input
                type="date"
                name="fecha_P5"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">EMPAM</label>
              <select name="EMPAM" class="form-select">

                <option selected>Elija una opción</option>
                <option value="AutoV S/R">AutoV S/R</option>
                <option value="AutoV C/R">AutoV C/R</option>
                <option value="Riesgo Dep">Riesgo Dep</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Time up and Go</label>
              <select name="time_up_and_go" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Leve">Leve</option>
                <option value="Normal">Normal</option>
                <option value="Alto">Alto</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Estación Unipodal</label>
              <select name="estacion_unipodal" class="form-select">
                <option selected>Elija una opción</option>
                <option value="Normal">Normal</option>
                <option value="Alterado">Alterado</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Minimental</label>
              <select name="Minimental" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Normal">Normal</option>
                <option value="Alterado">Alterado</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Índice barthel</label>
              <select name="indice_barthel" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Leve">Leve</option>
                <option value="Moderado">Moderado</option>
                <option value="Grave">Grave</option>
                <option value="Total">Total</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Dependencia Severa</label>
              <select name="dependencia_severa" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Oncologica">Oncologica</option>
                <option value="No Oncologica">No Oncologica</option>
              </select>
            </div>
            
            <div class="col-md-6">
              <label class="form-label">Escaras</label>
              <select name="escaras" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Sospecha Maltrato</label>
              <select name="sospecha_maltrato" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Actividad Fisica</label>
              <select name="actividad_fisica" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            
          <!---____________________________________________-->
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingAAC">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseAAC"
          aria-expanded="false"
          aria-controls="flush-collapseAAC"
        >
          Programa de Salud Mental
        </button>
      </h2>
      <div
        id="flush-collapseAAC"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingAAC"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <!---___________________________________-->
          <div class="col-mg-12" style="margin-bottom: 2%;">
                <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="14"
                  name="agregar"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿Agregar Este contenido?
                </label>
              </div>
              </div>
              <hr style="margin-bottom: 3%;" >
          <div class="row">
            <div class="col-md-6">
              <label class="form-label">Transtorno del Humor</label>
              <select name="trans_del_humor" class="form-select">

                <option selected>Elija una opción</option>
                <option value="DL">DL</option>
                <option value="DM">DM</option>
                <option value="DG">DG</option>
                <option value="DPP">DPP</option>
                <option value="T.Bipolar">T.Bipolar</option>
                <option value="Ninguna">Ninguna</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Sustancias Psicotropicas</label>
              <select name="sus_psicotropicas" class="form-select">

                <option selected>Elija una opción</option>
                <option value="OH">OH</option>
                <option value="Drogas">Drogas</option>
                <option value="Ninguna">Ninguna</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Transtorno de Comportamiento</label>
              <select name="transt_comport" class="form-select">

                <option selected>Elija una opción</option>
                <option value="OTC">OTC</option>
                <option value="TAI">TAI</option>
                <option value="TH">TH</option>
                <option value="TOD">TOD</option>
                <option value="Ninguna">Ninguna</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Transtorno de Ansiedad</label>
              <select name="trans_ansiedad" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Otras Demencias</label>
              <select name="otras_demencias" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Leve">Leve</option>
                <option value="Moderada">Moderada</option>
                <option value="Avanzada">Avanzada</option>
                <option value="Ninguna">Ninguna</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Esquizofrenia</label>
              <select name="esquizofrenia" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Transtorno Alimentaria</label>
              <select name="transt_alimentaria" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Retraso Mental</label>
              <select name="retraso_mental" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Transtorno Personalidad</label>
              <select name="transt_personalidad" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Transtorno Generalizado Del Desarrollo</label>
              <select name="transt_generalizado_del_desarrollo" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputRescate" class="form-label">Otras</label>
              <select name="otras_programa_salud_mental" class="form-select">

                <option selected>Elija una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            


          </div>
        </div>
      </div>
    </div>




    <div class="accordion-item" style="margin-bottom: 3%;">
      <h2 class="accordion-header" id="flush-headingAAB">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseAAB"
          aria-expanded="false"
          aria-controls="flush-collapseAAB"
        >
          datos anexos
        </button>
      </h2>
      <div
        id="flush-collapseAAB"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingAAB"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">Placeholder content for this accordion,
          which is intended to demonstrate the
          <code>.accordion-flush</code>
          class. This is the third item's accordion body. Nothing more exciting
          happening here in terms of content, but just filling up the space to
          make it look, at least at first glance, a bit more representative of
          how this would look in a real-world application.</div>
      </div>
    </div>

  </div>
  <div class="col-md-12" style="margin-bottom: 3%;">
    <button type="submit" class="btn btn-primary">Añadir paciente</button>
  </div>
</form>


<script>
  //funcion para calcular edad, y completar el campo de imc con la edad conrrespondiente
  const fecha_nacimiento = document.getElementById("fecha_nacimiento");
  const edad_ = document.getElementById("edad_");
  

  const calcularedad = (fecha_nacimiento) =>{

    const fechaActual = new Date();
    const anoActual = parseInt(fechaActual.getFullYear());
    const mesActual = parseInt(fechaActual.getMonth() + 1);
    const diaActual = parseInt(fechaActual.getDay());
    //format 2021-12-22
    const anoNaciemiento = parseInt(String(fecha_nacimiento).substring(0, 4));
    const mesNaciemiento = parseInt(String(fecha_nacimiento).substring(5, 7));
    const diaNaciemiento = parseInt(String(fecha_nacimiento).substring(8, 10));
    let edad_ = anoActual - anoNaciemiento;
    if(mesActual < mesNaciemiento){
      edad_--;
    }else if(mesActual === mesNaciemiento){
      if(diaActual < diaNaciemiento){
        edad_--;
      }
    }
    return edad_;
    console.log(edad_);
  };

    window.addEventListener('load', function(){
    fecha_nacimiento.addEventListener('change', function(){  
      if(this.value){
        edad_.innerText = calcularedad(this.value);
        console.log(edad_);
        //edad.innerText = calcularedad(this.value);
      }
    });
  });

//-------------------------------------

//--------------------------------------

//funcion para calcular el IMC y llenar el campo de Estado nutricional

const calculo_imc = () =>{

  var peso = parseInt(document.getElementById("peso").value);
  var talla = parseInt(document.getElementById("talla").value);
  var imc = parseInt(document.getElementById("imc"));
  var estado_nutricional = document.getElementById("estado_nutricional");

    if(peso != 0 && talla != 0 ){

      talla = parseInt(talla)/100;
      imc = parseInt( peso / ( talla * talla));
      //imc.innerHTML = imc.toFixed(2);

      if(imc < 16){
        console.log("Delgadez Severa");
         estado_nutricional.innerHTML = "Delgadez Severa";
      }
      if(imc < 16.99 && imc > 16.01){
        console.log("Delgadez moderada");
        estado_nutricional.innerHTML = "Delgadez Moderada";
      }
      if(imc <18.49 && imc >17){
        console.log("Delgadez Aceptable");
        estado_nutricional.innerHTML = "Delgadez Aceptable";
      }
      if(imc < 24.99 && imc > 18.5){
        console.log("Normal");
        estado_nutricional.innerHTML = "Normal";
      }
      if(imc > 25.5){
        console.log("sobre peso");
        estado_nutricional.innerHTML = "Sobre Peso";
      }

    };
  return imc;
}

window.addEventListener("load", function(){
  talla.addEventListener("change", function(){
    if(this.value){

        imc.innerText = calculo_imc(this.value);
        console.log(imc);
      }
  });
  imc.addEventListener("change", function(){
    if(this.value){

        estado_nutricional.innerText = calculo_imc(this.value);
        console.log(estado_nutricional);
      }
  });
});
</script>
