<form class="row g-3" action="/links/addProfesion" method="POST" style="margin-top: 3%;">
<div class="col-md-12">
  <label for="nombre_profesion" class="form-label">Indique el nombre de la profesión</label>
  <input
    type="text"
    class="form-control"
    name="nombre_profesion"
    minlength="5"
    maxlength="30"
    required
    placeholder="Informatico"
  />

</div>


<div class="col-md-12" style="margin-bottom: 4%;">
    <button type="submit" class="btn btn-primary">Añadir profesión</button>
</div>
</form>