<div class="card container">
<div class="card-body">

<div class="container">
  <div class="row">
    <div class="col-4">
      
    </div>
    <div class="col-4">
      <img src="/img/logo.png" class="rounded-circle img-fluid shadow p-3 mb-5 bg-body rounded">
    </div>
    <div class="col-4">
      
    </div>
  </div>
</div>


<form action="/signin" method="POST">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="rut" name="rut" placeholder="18362031">
        <label >Rut</label>
        <div class="form-text">Recuerda usar el número del rut, sin el digito verificador </div>
    </div>

    <div class="form-floating">
       <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
       <label >Contraseña</label>
       <div class="form-text">Recuerda Tener un respaldo de tu contraseña</div>
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" >
        <label class="form-check-label" >Recuerdame</label>
    </div>
    
    <button type="submit" class="btn btn-primary">Ingresar</button>

</form>


</div>
</div>

